# Python
venv/
*/venv/
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.sqlite3
media/
*/media/
.env

# Node
node_modules/
*/node_modules/
dist/
*/dist/
.angular/
*/.angular/

# IDE
.vscode/
.idea/
